@use 'base' as *;

// Prevent iOS from recoloring phone-like strings.
a[href^='tel'] {
  color: $black !important;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  position: fixed;
  overflow: hidden;
  color: $white;
  background-color: $teal;
  touch-action: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include media-query(1024) {
    font-size: 8px;
  }

  @include media-query(768) {
    font-size: 6px;
  }

  @include media-query(320) {
    font-size: 4px;
  }

  @include media-query(823, landscape) {
    font-size: 6px;
  }
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: $main-font;
  background-color: $teal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $teal;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 65rem;
  height: 100%;
  overflow: hidden;
  background-color: $teal;

  @include media-query(823, landscape) {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: $main-container;
  height: $main-container;
  background-color: $white;
  border: solid $white 0.6rem;
  border-radius: 3%;
  box-shadow: 0.5rem 0.5rem 2rem $black;

  &__cell {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $dark-grey;
    border: solid $white 0.6rem;
    border-radius: 7%;
  }

  @include media-query(823, landscape) {
    width: 50rem;
    height: 50rem;
  }
}
