$main-container: 50rem;
$main-font: "Orbitron", sans-serif;
$black: #000000;
$purple: #9c27b0;
$deep-purple: #673ab7;
$brown: #795548;
$fb: #4267b2;
$blue-grey: #607d8b;
$red: #f44336;
$green: #4caf50;
$teal: #2ea89c;
$cyan: #00bcd4;
$pink: #ff4081;
$dark-grey: #a9a9a9;
$lime: #b4c237;
$orange: #ff9800;
$amber: #ffc107;
$grey: #ffffffea;
$white: #ffffff;
