.message
    background-color: $grey
    width: 80%
    height: 80%
    position: absolute
    z-index: 10000
    opacity: .9
    font-size: 4rem
    font-weight: 800
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    transition: 1s
    color: $black
    text-align: center
    border-radius: 2rem
    span
        font-size: 2.5rem
        padding: 2rem
    button
        font-size: 2rem
        border: .2rem solid $black
        padding: 1rem 4rem
        text-transform: uppercase
        font-weight: 800
.settings-icon
    position: absolute
    top: 2%
    right: 3%
    font-size: 4rem
    z-index: 1
.settings-content
    position: absolute
    width: 80%
    height: 80%
    max-width: 100rem
    font-size: 4rem
    text-align: center
    line-height: 8rem
    color: $black
    background-color: $grey
    border: .4rem solid $black
    border-radius: 1rem
    z-index: 10000
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0rem 2rem
    transition: .2s
    &:hover
        cursor: pointer
    span
        text-transform: uppercase
        font-weight: 800
        &:hover
            cursor: pointer
    p
        font-size: 3.5rem
    .mail
        a
            border: .4rem solid $black
            padding: 1rem 2rem
            margin-top: 3rem
            font-size: 3rem
            font-weight: 800
.IE
    width: 100vw
    height: 100vh
    position: absolute
    background-color: $teal
    top: 0%
    left: 0%
    z-index: 1000000
    display: flex
    align-items: center
    justify-content: center
    font-size: 4rem
.hide
    opacity: 0%
    transition: .3s
    z-index: -1
