$mainFont: "Orbitron", sans-serif
$teal: #2EA89C
$cyan: #00BCD4
$brown: #795548
$lime: #b4c237
$green: #4CAF50
$orange: #FF9800
$purple: #9C27B0
$deeppurple: #673AB7
$grey: #ffffffea
$amber: #FFC107
$bluegrey: #607D8B
$black: #000
$red: #F44336
$pink: #FF4081
$white: #fff
$fb:#4267B2